*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: #f7f7f7;
}

html {
  scroll-behavior: smooth;
}

main {
  margin-top: 8.875rem;
}

img,
picture {
  width: 100%;
}

span,
a,
li {
  display: inline-block;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}

p {
  color: #6f6e6d;
  font-weight: 400;
}

span,
a {
  font-weight: 400;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
}

.flex_row {
  display: flex;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.grid_row {
  display: grid;
}

.container_1760 {
  max-width: 1760px;
  margin-inline: auto;
}

.container_1560 {
  max-width: 1560px;
  margin-inline: auto;
}

.container_1500 {
  max-width: 1500px;
  margin-inline: auto;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1.125rem;
  }
  h4 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1760px) {
  .container_1760 {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 1560px) {
  .container_1560 {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 1500px) {
  .container_1500 {
    padding: 0 2rem;
  }
}
.global_btn {
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  background-color: #efe33b;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  display: inline-block;
  padding: 1.25rem 2.5rem 1.25rem 2.5rem;
  transition: background-color 0.2s ease-in-out;
}

.global_btn .btn_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.global_btn .btn_wrapper span {
  font-weight: 500;
}

.global_btn:hover {
  background-color: rgba(239, 227, 59, 0.5019607843);
}

.product_loop {
  min-height: 690px;
  max-width: 425px;
  border: 1px solid rgba(0, 0, 0, 0.3019607843);
  border-radius: 20px;
  color: #000000;
  gap: 1.25rem;
  padding: 1rem 2rem;
}
.product_loop .product_meta {
  gap: 1rem;
}
.product_loop .product_meta .inner_column {
  border: 1px solid #000000;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.product_loop .product_meta .inner_column span, .product_loop .product_meta .inner_column strong {
  font-size: 1rem;
}

.product_loop .product_details {
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}
.product_loop .product_details .price {
  font-size: 1.25rem;
  color: #6f6e6d;
}

.post_archive_loop {
  max-width: 573px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.post_archive_loop .featured_image {
  height: 356px;
  flex: 1;
}
.post_archive_loop .post_short_meta_desp {
  padding: 2rem 2.5rem;
  flex: 1;
  gap: 1rem;
  align-items: flex-start;
}
.post_archive_loop .post_short_meta_desp h3 {
  font-weight: 600;
}
.post_archive_loop .post_short_meta_desp .post_date {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.post_archive_loop .post_short_meta_desp .post_date span {
  font-size: 1.25rem;
  color: #6f6e6d;
}
.post_archive_loop .post_short_meta_desp p {
  font-size: 1.25rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 9999;
}

header .top_row_header {
  background-color: #000000;
  padding: 1rem 2rem;
}
header .top_row_header span {
  color: white;
  font-size: 0.875rem;
}
header .top_row_header .wrapper {
  max-width: 1196px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .top_row_header .column {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header .main_row_header {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.0509803922);
}

header .main_row_header .wrapper {
  display: flex;
  align-items: center;
  min-height: 90px;
  justify-content: space-between;
}
header .main_row_header .wrapper .column:nth-of-type(1) {
  width: 11%;
}
header .main_row_header .wrapper .column:nth-of-type(2) {
  width: 35%;
}
header .main_row_header .wrapper .column:nth-of-type(2) ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .main_row_header .wrapper .column:nth-of-type(2) li a {
  padding: 35px 0px;
  color: #000000;
  transition: color 0.2s ease-in-out;
}
header .main_row_header .wrapper .column:nth-of-type(2) li:hover a {
  color: #6f6e6d;
}

header .main_row_header .wrapper .column:nth-of-type(3) {
  width: 480px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .main_row_header .wrapper .column:nth-of-type(3) .inner_col_1 {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .main_row_header .wrapper .column:nth-of-type(3) .inner_col_1 a {
  background-color: #FFFDE6;
  padding: 0.5rem;
  border-radius: 50%;
}/*# sourceMappingURL=global.css.map */