*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Global variables
$primary_bg_clr: #d9d9d9;
$secondary_bg_clr: #f7f7f7;
$heading_clr: #000000;
$yellow_clr: #efe33b;
$black_clr: #000000;
$btn_primary_clr: #efe33b;
$btn_hover_clr: #efe33b80;
$grey_clr: #6f6e6d;
$border_clr: #00000033;
$border_yellow_clr: #efe33b80;
$primary_border_radius: 20px;
$secondary_border_radius: 30px;
$primary_green_clr: #219653;
$border_green_clr: #219653;
$section_spacer: 5rem 0rem;
$section_spacer_2:10rem 0rem;
$section_spacer_3:10rem 0rem 5rem 0;
$section_spacer_4:5rem 0rem 10rem 0;

//Global css
body {
    font-family: "Be Vietnam Pro", sans-serif;
    background-color: $secondary_bg_clr;
}

html {
    scroll-behavior: smooth;
}

main {
    margin-top: 8.875rem;
}

img,
picture {
    width: 100%;
}

span,
a,
li {
    display: inline-block;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading_clr;
}

p {
    color: $grey_clr;
    font-weight: 400;
}

h1 {
    font-size: 3rem; //main_heading (48px)
}

h2 {
    font-size: 2rem; //sub_main-heading_1 (32px)
    font-weight: 600;
}

h3 {
    font-size: 1.5rem; //sub_main-heading_2 (24px)
    font-weight: 500;
}

h4 {
    font-size: 1.25rem; //sub_main-heading_3 (20px)
    font-weight: 500;
}

.flex_row {
    display: flex;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.grid_row {
    display: grid;
}

.container_1760 {
    max-width: 1760px;
    margin-inline: auto;
}

.container_1560 {
    max-width: 1560px;
    margin-inline: auto;
}

.container_1500 {
    max-width: 1500px;
    margin-inline: auto;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.5rem; //main_heading (24px)
    }

    h2 {
        font-size: 1.25rem; //sub_main-heading_1 (20px)
    }

    h3 {
        font-size: 1.125rem; //sub_main-heading_2 (18px)
    }

    h4 {
        font-size: 1rem; //sub_main-heading_3 (16px)
    }
}

@media screen and (max-width: 1760px) {
    .container_1760 {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 1560px) {
    .container_1560 {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 1500px) {
    .container_1500 {
        padding: 0 2rem;
    }
}

// Global components css starts---------------------------
// 1) global button css
.global_btn {
    font-size: 1rem;
    font-weight: 500;
    color: $heading_clr;
    background-color: $btn_primary_clr;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    display: inline-block;
    padding: 1.25rem 2.5rem 1.25rem 2.5rem;
    transition: background-color 0.2s ease-in-out;
}

.global_btn .btn_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.global_btn .btn_wrapper span {
    font-weight: 500;
}

.global_btn:hover {
    background-color: $btn_hover_clr;
}


// 2) Product Loop css starts

.product_loop {
    min-height: 690px;
    max-width: 425px;
    border: 1px solid #0000004D;
    border-radius: $primary_border_radius;
    color: #000000;
    gap: 1.25rem;
    padding: 1rem 2rem;

    .product_meta {
        gap: 1rem;

        .inner_column {
            border: 1px solid $black_clr;
            padding: 0.5rem 1rem;
            border-radius: 5px;

            span,
            strong {
                font-size: 1rem;
            }
        }
    }
}

.product_loop .product_details {
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;

    .price {
        font-size: 1.25rem;
        color: $grey_clr;
    }
}


// 3) Post Archive loop css
.post_archive_loop {
    max-width: 573px;
    border-radius: $primary_border_radius;
    border: 1px solid $border_clr;

    .featured_image {
        height: 356px;
        flex: 1;
    }

    .post_short_meta_desp {
        padding: 2rem 2.5rem;
        flex: 1;
        gap: 1rem;
        align-items: flex-start;

        h3 {
            font-weight: 600;
        }

        .post_date {
            display: flex;
            align-items: center;
            gap: 1.5rem;

            span {
                font-size: 1.25rem;
                color: $grey_clr;
            }
        }

        p {
            font-size: 1.25rem;
        }
    }
}


// 4) Find my store global tamplate css
.global_find_store_template{
    padding: $section_spacer_2;
    .container_1760{
    background-image: url("/assets/find-stove_protect.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 84.4vh;
    border-radius: $primary_border_radius;
}
.wrapper{
    width: 573px;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 2rem;
    h1,span,p{
        color: white;
    }
    p{
        font-size: 1.5rem;
    }
    >span{
        font-size: 1.25rem;
    }
    .input_container{
        width: 100%;
        position: relative;
        input{
            width: 100%;
            border: 1px solid #83847F;
            border-radius: 10px;
            padding: 1rem 5rem;
            font-size: 1rem;
        }
    }

    .video_popup{
        align-items: center;
        gap: 1rem;
        cursor: pointer;
    }
}
}
.global_find_store_template .wrapper .input_container::before {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.6725 16.6412L21 21M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z' stroke='%23131A29' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%,-50%);
}



// 5) Global Find Modal Contact Form template CSS 
.global_findModal_contact_form_template{
    background-color: $black_clr;
    .wrapper{
        padding: $section_spacer;
        min-height: 84.4vh;
        align-items: center;
        justify-content: center;
        .column{
            width: 960px;
            gap: 1.5rem;
            .inner_col_1{
                text-align: center;
                gap: 1.5rem;
                h1{
                    color: $yellow_clr;
                }
                p{
                    font-size: 1.25rem;
                    color: white;
                }
            }
        }
    }
}
.global_findModal_contact_form_template .wrapper .column .inner_col_2{
    align-items: center;
   form{
    gap: 1.5rem;
    width: 786px;
    align-items: center;
    input{
        padding: 1.5rem 2rem;
        border: 1px solid $border_yellow_clr;
        border-radius: 10px;
        background-color: transparent;
        font-size: 1.25rem;
        font-weight: 400;
        color: white;
        width: 100%;
        &::placeholder{
            color: white;
        }
    }
    input[type="submit"]{
        width: 187px;
        background-color: $yellow_clr;
        color: $black_clr;
    }
    textarea{
        padding: 1rem 2rem;
        border: 1px solid $border_yellow_clr;
        border-radius: 10px;
        background-color: transparent;
        font-size: 1.25rem;
        font-weight: 400;
        color: white;
        width: 100%;
        height: 146px;
        &::placeholder{
            color: white;
        }
    }
   }
}



// 6) Global Blogs Archive Loop template css
.global_blogs_archive_loop_template .wrapper {
    padding: $section_spacer_2;
    gap: 5rem;
    .column:nth-of-type(1){
      align-items: center;
      gap: 2rem;
    }
    .column:nth-of-type(2){
      gap: 1.5rem;
    }
  }


// 7) Global Gift card teplate css
.global_gift_card_template{
    background-color: $black_clr;
  .wrapper{
     padding: $section_spacer;
     align-items: center;
     justify-content: center;
     .column{
         max-width: 841px;
         align-items: center;
         justify-content: center;
         gap:3rem;
         h1{
             color: $yellow_clr;
             text-align: center;
         }
         h3{
             color: white;
         }
     }
 }
 }


//  8) 
// Login Form Css------------------------------
.login_form {
    min-height: 100vh;
  }
  .login_form .wrapper {
    min-height: 100%;
    gap: 2rem;
    .column:nth-of-type(1) {
      width: 60%;
      background-repeat: no-repeat;
      background-position-y: calc(60%);
    }
    .column:nth-of-type(2) {
      padding: 5rem 2rem;
      width: 40%;
      align-items: center;
      .inner_wrapper {
        width: 460px;
      }
    }
  }
  .login_form .wrapper .column:nth-of-type(2){
      .inner_wrapper {
          p{
              font-size: 1.25rem;
              margin-top: 0.5rem;
          }
      }
      form{
          gap: 2rem;
          margin-top: 3rem;
          label{
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              color: $grey_clr;
              font-size: 1.25rem;
          }
          input,textarea{
              background-color: transparent;
              border: 1px solid $border_clr;
              border-radius: 10px;
              padding: 1rem;
              width: 100%;
          }
          .or_divider{
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 0.5rem;
              padding: 1rem 0;
              hr{
                  width: 100%;
              }
          }
          .create-account a{
              color: $black_clr;
              text-decoration: underline;
          }
      }
  }
  .login_form .wrapper .column:nth-of-type(2) .login_with{
      align-items: center;
      gap: 2rem;
      a{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          padding: 1rem 0;
          width: 100%;
          border-radius: 10px;
          font-size: 1.2rem;
          &:nth-of-type(1){
              background-color: transparent;
              border: 1px solid $black_clr;
              color: $black_clr;
          }
          &:nth-of-type(2){
              background-color: #1877F2;
              border: 1px solid #1877F2;
              color: white;
          }
      }
  }


//   9) Overlay CSS
.overlay{
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.088);
    height :100%;
    top: 0;
    left: 0;
    display: none;
}
.overlay.open{
    display: block;
}

// Header Css Starts-------------------

//-------------- Top Row
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 9999;
}

header .top_row_header {
    background-color: $black_clr;
    padding: 1rem 2rem;

    span {
        color: white;
        font-size: 0.875rem;

    }

    .wrapper {
        max-width: 1196px;
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .column {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}



//--------------- Main Row
header .main_row_header {
    box-shadow: 0px 1px 1px 0px #0000000D;
}

header .main_row_header .wrapper {
    display: flex;
    align-items: center;
    min-height: 90px;
    justify-content: space-between;

    .column:nth-of-type(1) {
        width: 11%;
    }

    .column:nth-of-type(2) {
        width: 35%;

        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        li a {
            padding: 35px 0px;
            color: $black_clr;
            transition: color 0.2s ease-in-out;
        }

        li:hover a {
            color: $grey_clr;
        }
    }
}



header .main_row_header .wrapper .column:nth-of-type(3) {
    width: 480px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .inner_col_1 {
        width: 170px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .inner_col_1 a {
        background-color: #FFFDE6;
        padding: 0.5rem;
        border-radius: 50%;
        cursor: pointer;
    }
}

header #search_modal{
    min-height: 90px;
    width: 100%;
    position: absolute;
    transform: translateY(-280%);
    z-index: 1000;
    background-color: white;
    transition: transform 0.33s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0rem 4rem;
    .ajax_search{
        width: 70%;
        display: flex;
        align-items: center;
        input{
            padding: 1rem;
            border-bottom: 1px solid $border_clr;
            border-left: 0;
            border-right: 0;
            border-top: 0;
            width: 50%;
            outline: none;
        }
    }
}

header #search_modal.open_modal{
    transform: translateY(-100%);
}
// Header Css Ends-----------------------

// Footer Css Starts
footer {
    padding: 5rem 2rem 1rem 2rem;
    a,span{
        color: $grey_clr;
    }
    .u_content {
        justify-content: space-between;
        .column {
            gap: 2rem;
            h3{
                font-weight: 600;
            }
        }
        .column:nth-of-type(n+2) ul {
            gap: 1.5rem;
        }
    }
}
footer .u_content{
.column:nth-of-type(1){
width: 445px;
}
.column:nth-of-type(2){
width: 250px;
}
.column:nth-of-type(3){
width: 170px;
}
.column:nth-of-type(4){
width: 355px;
.flex_row{
    gap: 1rem;
    svg{
        flex:0.1;
    }
    span{
        flex:1;
     }
    }
}
}
footer .u_content{
    .inner_col_3{
        gap: 2rem;
        .social_icons{
            gap: 1rem;
        }
    }
}
footer .m_content{
    background-color: #F1F1F1;
    align-items: center;
    padding: 2rem 1rem;
    margin-top: 8rem;
    border-radius: $primary_border_radius;
    border: 1px solid $border_clr;
    .wrapper{
        max-width: 1400px;
        text-align: center;
        p{
            font-size: 1.25rem;
            margin-top: 1rem;
        }
    }
}
footer .l_content{
    text-align: center;
    margin-top: 2rem;
    span{
        color: $black_clr;
    }
}